{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://fsx.amazonaws.com/"
        },
        {
            "url": "http://fsx.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "Amazon FSx is a fully managed service that makes it easy for storage and application administrators to launch and use shared file storage.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon FSx",
        "version": "2018-03-01",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/fsx-2018-03-01.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "fsx"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/fsx/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a backup of an existing Amazon FSx for Windows File Server file system. Creating regular backups for your file system is a best practice that complements the replication that Amazon FSx for Windows File Server performs for your file system. It also enables you to restore from user modification of data.</p> <p>If a backup with the specified client request token exists, and the parameters match, this operation returns the description of the existing backup. If a backup specified client request token exists, and the parameters don't match, this operation returns <code>IncompatibleParameterError</code>. If a backup with the specified client request token doesn't exist, <code>CreateBackup</code> does the following: </p> <ul> <li> <p>Creates a new Amazon FSx backup with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the backup.</p> </li> </ul> <p>By using the idempotent operation, you can retry a <code>CreateBackup</code> operation without the risk of creating an extra backup. This approach can be useful when an initial call fails in a way that makes it unclear whether a backup was created. If you use the same client request token and the initial call created a backup, the operation returns a successful result because all the parameters are the same.</p> <p>The <code>CreateFileSystem</code> operation returns while the backup's lifecycle state is still <code>CREATING</code>. You can check the file system creation status by calling the <a>DescribeBackups</a> operation, which returns the backup state along with other information.</p> <note> <p/> </note>",
                "operationId": "CreateBackup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The response object for the <code>CreateBackup</code> operation.",
                                    "example": {
                                        "Backup": {
                                            "BackupId": "backup-03e3c82e0183b7b6b",
                                            "CreationTime": "1481841524.0",
                                            "FileSystem": {
                                                "FileSystemId": "fs-0498eed5fe91001ec",
                                                "OwnerId": "012345678912",
                                                "StorageCapacity": 300,
                                                "WindowsConfiguration": {
                                                    "ActiveDirectoryId": "d-1234abcd12",
                                                    "AutomaticBackupRetentionDays": 30,
                                                    "DailyAutomaticBackupStartTime": "05:00",
                                                    "WeeklyMaintenanceStartTime": "1:05:00"
                                                }
                                            },
                                            "Lifecycle": "CREATING",
                                            "ProgressPercent": 0,
                                            "ResourceARN": "arn:aws:fsx:us-east-1:012345678912:backup/backup-03e3c82e0183b7b6b",
                                            "Tags": [
                                                {
                                                    "Key": "Name",
                                                    "Value": "MyBackup"
                                                }
                                            ],
                                            "Type": "USER_INITIATED"
                                        }
                                    },
                                    "properties": {
                                        "Backup": {
                                            "description": "A description of the backup.",
                                            "properties": {
                                                "BackupId": {
                                                    "description": "The ID of the backup.",
                                                    "maxLength": 128,
                                                    "minLength": 12,
                                                    "pattern": "^(backup-[0-9a-f]{8,})$",
                                                    "type": "string"
                                                },
                                                "CreationTime": {
                                                    "description": "The time when a particular backup was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "FailureDetails": {
                                                    "description": "Details explaining any failures that occur when creating a backup.",
                                                    "properties": {
                                                        "Message": {
                                                            "description": "A message describing the backup creation failure.",
                                                            "maxLength": 256,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "FileSystem": {
                                                    "description": "Metadata of the file system associated with the backup. This metadata is persisted even if the file system is deleted.",
                                                    "properties": {
                                                        "CreationTime": {
                                                            "description": "The time that the file system was created, in seconds (since 1970-01-01T00:00:00Z), also known as Unix time.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "DNSName": {
                                                            "description": "The DNS name for the file system.",
                                                            "maxLength": 275,
                                                            "minLength": 16,
                                                            "pattern": "^(fsi?-[0-9a-f]{8,}\\..{4,253})$",
                                                            "type": "string"
                                                        },
                                                        "FailureDetails": {
                                                            "description": "Structure providing details of any failures that occur when creating the file system has failed.",
                                                            "properties": {
                                                                "Message": {
                                                                    "description": "Message describing the failures that occurred during file system creation.",
                                                                    "maxLength": 256,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "FileSystemId": {
                                                            "description": "The eight-digit ID of the file system that was automatically assigned by Amazon FSx.",
                                                            "maxLength": 21,
                                                            "minLength": 11,
                                                            "pattern": "^(fs-[0-9a-f]{8,})$",
                                                            "type": "string"
                                                        },
                                                        "FileSystemType": {
                                                            "description": "Type of file system. Currently the only supported type is WINDOWS.",
                                                            "enum": [
                                                                "WINDOWS",
                                                                "LUSTRE"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "KmsKeyId": {
                                                            "description": "The ID of the AWS Key Management Service (AWS KMS) key used to encrypt the file system's data for an Amazon FSx for Windows File Server file system.",
                                                            "maxLength": 2048,
                                                            "minLength": 1,
                                                            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[89aAbB][a-fA-F0-9]{3}-[a-fA-F0-9]{12}|arn:aws[a-z-]{0,7}:kms:[a-z]{2}-[a-z-]{4,}-\\d+:\\d{12}:(key|alias)\\/([a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[89aAbB][a-fA-F0-9]{3}-[a-fA-F0-9]{12}|[a-zA-Z0-9:\\/_-]+)|alias\\/[a-zA-Z0-9:\\/_-]+$",
                                                            "type": "string"
                                                        },
                                                        "Lifecycle": {
                                                            "description": "The lifecycle status of the file system.",
                                                            "enum": [
                                                                "AVAILABLE",
                                                                "CREATING",
                                                                "FAILED",
                                                                "DELETING"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "LustreConfiguration": {
                                                            "description": "The configuration for the Amazon FSx for Lustre file system.",
                                                            "properties": {
                                                                "DataRepositoryConfiguration": {
                                                                    "description": "The data repository configuration object for Lustre file systems returned in the response of the <code>CreateFileSystem</code> operation.",
                                                                    "properties": {
                                                                        "ExportPath": {
                                                                            "description": "The export path to the Amazon S3 bucket (and prefix) that you are using to store new and changed Lustre file system files in S3.",
                                                                            "maxLength": 900,
                                                                            "minLength": 3,
                                                                            "type": "string"
                                                                        },
                                                                        "ImportPath": {
                                                                            "description": "The import path to the Amazon S3 bucket (and optional prefix) that you're using as the data repository for your FSx for Lustre file system, for example <code>s3://import-bucket/optional-prefix</code>. If a prefix is specified after the Amazon S3 bucket name, only object keys with that prefix are loaded into the file system.",
                                                                            "maxLength": 900,
                                                                            "minLength": 3,
                                                                            "type": "string"
                                                                        },
                                                                        "ImportedFileChunkSize": {
                                                                            "description": "<p>For files imported from a data repository, this value determines the stripe count and maximum amount of data per file (in MiB) stored on a single physical disk. The maximum number of disks that a single file can be striped across is limited by the total number of disks that make up the file system.</p> <p>The default chunk size is 1,024 MiB (1 GiB) and can go as high as 512,000 MiB (500 GiB). Amazon S3 objects have a maximum size of 5 TB.</p>",
                                                                            "maximum": 512000,
                                                                            "minimum": 1,
                                                                            "type": "integer"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "WeeklyMaintenanceStartTime": {
                                                                    "description": "The UTC time that you want to begin your weekly maintenance window.",
                                                                    "maxLength": 7,
                                                                    "minLength": 7,
                                                                    "pattern": "^[1-7]:([01]\\d|2[0-3]):?([0-5]\\d)$",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "NetworkInterfaceIds": {
                                                            "description": "<p>The IDs of the elastic network interface from which a specific file system is accessible. The elastic network interface is automatically created in the same VPC that the Amazon FSx file system was created in. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html\">Elastic Network Interfaces</a> in the <i>Amazon EC2 User Guide.</i> </p> <p>For an Amazon FSx for Windows File Server file system, you can have one network interface Id. For an Amazon FSx for Lustre file system, you can have more than one.</p>",
                                                            "items": {
                                                                "description": "An elastic network interface ID. An elastic network interface is a logical networking component in a virtual private cloud (VPC) that represents a virtual network card. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html\">Elastic Network Interfaces</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.",
                                                                "maxLength": 21,
                                                                "minLength": 12,
                                                                "pattern": "^(eni-[0-9a-f]{8,})$",
                                                                "type": "string"
                                                            },
                                                            "maxItems": 50,
                                                            "type": "array"
                                                        },
                                                        "OwnerId": {
                                                            "description": "The AWS account that created the file system. If the file system was created by an IAM user, the AWS account to which the IAM user belongs is the owner.",
                                                            "maxLength": 12,
                                                            "minLength": 12,
                                                            "pattern": "^\\d{12}$",
                                                            "type": "string"
                                                        },
                                                        "ResourceARN": {
                                                            "description": "The resource ARN of the file system.",
                                                            "maxLength": 512,
                                                            "minLength": 8,
                                                            "pattern": "^arn:aws[a-z-]{0,7}:[A-Za-z0-9][A-za-z0-9_/.-]{0,62}:[A-za-z0-9_/.-]{0,63}:[A-za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-za-z0-9_/.-]{0,127}$",
                                                            "type": "string"
                                                        },
                                                        "StorageCapacity": {
                                                            "description": "The storage capacity of the file system in gigabytes.",
                                                            "minimum": 1,
                                                            "type": "integer"
                                                        },
                                                        "SubnetIds": {
                                                            "description": "The IDs of the subnets to contain the endpoint for the file system. One and only one is supported. The file system is launched in the Availability Zone associated with this subnet.",
                                                            "items": {
                                                                "description": "The ID for a subnet. A <i>subnet</i> is a range of IP addresses in your virtual private cloud (VPC). For more information, see <a href=\"https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Subnets.html\">VPC and Subnets</a> in the <i>Amazon VPC User Guide.</i> ",
                                                                "maxLength": 24,
                                                                "minLength": 15,
                                                                "pattern": "^(subnet-[0-9a-f]{8,})$",
                                                                "type": "string"
                                                            },
                                                            "maxItems": 50,
                                                            "type": "array"
                                                        },
                                                        "Tags": {
                                                            "description": "The tags to associate with the file system. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html\">Tagging Your Amazon EC2 Resources</a> in the <i>Amazon EC2 User Guide</i>.",
                                                            "items": {
                                                                "description": "Specifies a key-value pair for a resource tag.",
                                                                "properties": {
                                                                    "Key": {
                                                                        "description": "A value that specifies the <code>TagKey</code>, the name of the tag. Tag keys must be unique for the resource to which they are attached.",
                                                                        "maxLength": 128,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "Value": {
                                                                        "description": "A value that specifies the <code>TagValue</code>, the value assigned to the corresponding tag key. Tag values can be null and don't have to be unique in a tag set. For example, you can have a key-value pair in a tag set of <code>finances : April</code> and also of <code>payroll : April</code>.",
                                                                        "maxLength": 256,
                                                                        "minLength": 0,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "maxItems": 50,
                                                            "minItems": 1,
                                                            "type": "array"
                                                        },
                                                        "VpcId": {
                                                            "description": "The ID of the primary VPC for the file system.",
                                                            "maxLength": 21,
                                                            "minLength": 12,
                                                            "pattern": "^(vpc-[0-9a-f]{8,})$",
                                                            "type": "string"
                                                        },
                                                        "WindowsConfiguration": {
                                                            "description": "The configuration for this Microsoft Windows file system.",
                                                            "properties": {
                                                                "ActiveDirectoryId": {
                                                                    "description": "The ID for an existing Microsoft Active Directory instance that the file system should join when it's created.",
                                                                    "maxLength": 12,
                                                                    "minLength": 12,
                                                                    "pattern": "^d-[0-9a-f]{10}$",
                                                                    "type": "string"
                                                                },
                                                                "AutomaticBackupRetentionDays": {
                                                                    "description": "The number of days to retain automatic backups. Setting this to 0 disables automatic backups. You can retain automatic backups for a maximum of 35 days.",
                                                                    "maximum": 35,
                                                                    "minimum": 0,
                                                                    "type": "integer"
                                                                },
                                                                "CopyTagsToBackups": {
                                                                    "description": "A boolean flag indicating whether tags on the file system should be copied to backups. This value defaults to false. If it's set to true, all tags on the file system are copied to all automatic backups and any user-initiated backups where the user doesn't specify any tags. If this value is true, and you specify one or more tags, only the specified tags are copied to backups.",
                                                                    "type": "boolean"
                                                                },
                                                                "DailyAutomaticBackupStartTime": {
                                                                    "description": "The preferred time to take daily automatic backups, in the UTC time zone.",
                                                                    "maxLength": 5,
                                                                    "minLength": 5,
                                                                    "pattern": "^([01]\\d|2[0-3]):?([0-5]\\d)$",
                                                                    "type": "string"
                                                                },
                                                                "MaintenanceOperationsInProgress": {
                                                                    "description": "The list of maintenance operations in progress for this file system.",
                                                                    "items": {
                                                                        "description": "An enumeration specifying the currently ongoing maintenance operation.",
                                                                        "enum": [
                                                                            "PATCHING",
                                                                            "BACKING_UP"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "maxItems": 20,
                                                                    "type": "array"
                                                                },
                                                                "ThroughputCapacity": {
                                                                    "description": "The throughput of an Amazon FSx file system, measured in megabytes per second.",
                                                                    "maximum": 2048,
                                                                    "minimum": 8,
                                                                    "type": "integer"
                                                                },
                                                                "WeeklyMaintenanceStartTime": {
                                                                    "description": "The preferred time to perform weekly maintenance, in the UTC time zone.",
                                                                    "maxLength": 7,
                                                                    "minLength": 7,
                                                                    "pattern": "^[1-7]:([01]\\d|2[0-3]):?([0-5]\\d)$",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "KmsKeyId": {
                                                    "description": "The ID of the AWS Key Management Service (AWS KMS) key used to encrypt this backup's data.",
                                                    "maxLength": 2048,
                                                    "minLength": 1,
                                                    "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[89aAbB][a-fA-F0-9]{3}-[a-fA-F0-9]{12}|arn:aws[a-z-]{0,7}:kms:[a-z]{2}-[a-z-]{4,}-\\d+:\\d{12}:(key|alias)\\/([a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[89aAbB][a-fA-F0-9]{3}-[a-fA-F0-9]{12}|[a-zA-Z0-9:\\/_-]+)|alias\\/[a-zA-Z0-9:\\/_-]+$",
                                                    "type": "string"
                                                },
                                                "Lifecycle": {
                                                    "description": "The lifecycle status of the backup.",
                                                    "enum": [
                                                        "AVAILABLE",
                                                        "CREATING",
                                                        "DELETED",
                                                        "FAILED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "ProgressPercent": {
                                                    "description": "The current percent of progress of an asynchronous task.",
                                                    "maximum": 100,
                                                    "minimum": 0,
                                                    "type": "integer"
                                                },
                                                "ResourceARN": {
                                                    "description": "The Amazon Resource Name (ARN) for the backup resource.",
                                                    "maxLength": 512,
                                                    "minLength": 8,
                                                    "pattern": "^arn:aws[a-z-]{0,7}:[A-Za-z0-9][A-za-z0-9_/.-]{0,62}:[A-za-z0-9_/.-]{0,63}:[A-za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-za-z0-9_/.-]{0,127}$",
                                                    "type": "string"
                                                },
                                                "Tags": {
                                                    "description": "Tags associated with a particular file system.",
                                                    "items": {
                                                        "description": "Specifies a key-value pair for a resource tag.",
                                                        "properties": {
                                                            "Key": {
                                                                "description": "A value that specifies the <code>TagKey</code>, the name of the tag. Tag keys must be unique for the resource to which they are attached.",
                                                                "maxLength": 128,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "Value": {
                                                                "description": "A value that specifies the <code>TagValue</code>, the value assigned to the corresponding tag key. Tag values can be null and don't have to be unique in a tag set. For example, you can have a key-value pair in a tag set of <code>finances : April</code> and also of <code>payroll : April</code>.",
                                                                "maxLength": 256,
                                                                "minLength": 0,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "maxItems": 50,
                                                    "minItems": 1,
                                                    "type": "array"
                                                },
                                                "Type": {
                                                    "description": "The type of the backup.",
                                                    "enum": [
                                                        "AUTOMATIC",
                                                        "USER_INITIATED"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "BackupId",
                                                "Lifecycle",
                                                "Type",
                                                "CreationTime",
                                                "FileSystem"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequest",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "FileSystemNotFound",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "BackupInProgress",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "IncompatibleParameterError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceLimitExceeded",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The request object for the <code>CreateBackup</code> operation.",
                                "example": {
                                    "FileSystemId": "fs-0498eed5fe91001ec",
                                    "Tags": [
                                        {
                                            "Key": "Name",
                                            "Value": "MyBackup"
                                        }
                                    ]
                                },
                                "properties": {
                                    "ClientRequestToken": {
                                        "description": "(Optional) A string of up to 64 ASCII characters that Amazon FSx uses to ensure idempotent creation. This string is automatically filled on your behalf when you use the AWS Command Line Interface (AWS CLI) or an AWS SDK.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "pattern": "[A-za-z0-9_/.-]{0,255}$",
                                        "type": "string"
                                    },
                                    "FileSystemId": {
                                        "description": "The ID of the file system to back up.",
                                        "maxLength": 21,
                                        "minLength": 11,
                                        "pattern": "^(fs-[0-9a-f]{8,})$",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "The tags to apply to the backup at backup creation. The key value of the <code>Name</code> tag appears in the console as the backup name.",
                                        "items": {
                                            "description": "Specifies a key-value pair for a resource tag.",
                                            "properties": {
                                                "Key": {
                                                    "description": "A value that specifies the <code>TagKey</code>, the name of the tag. Tag keys must be unique for the resource to which they are attached.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "A value that specifies the <code>TagValue</code>, the value assigned to the corresponding tag key. Tag values can be null and don't have to be unique in a tag set. For example, you can have a key-value pair in a tag set of <code>finances : April</code> and also of <code>payroll : April</code>.",
                                                    "maxLength": 256,
                                                    "minLength": 0,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 50,
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "FileSystemId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateFileSystem": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a new, empty Amazon FSx file system.</p> <p>If a file system with the specified client request token exists and the parameters match, <code>CreateFileSystem</code> returns the description of the existing file system. If a file system specified client request token exists and the parameters don't match, this call returns <code>IncompatibleParameterError</code>. If a file system with the specified client request token doesn't exist, <code>CreateFileSystem</code> does the following: </p> <ul> <li> <p>Creates a new, empty Amazon FSx file system with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the file system.</p> </li> </ul> <p>This operation requires a client request token in the request that Amazon FSx uses to ensure idempotent creation. This means that calling the operation multiple times with the same client request token has no effect. By using the idempotent operation, you can retry a <code>CreateFileSystem</code> operation without the risk of creating an extra file system. This approach can be useful when an initial call fails in a way that makes it unclear whether a file system was created. Examples are if a transport level timeout occurred, or your connection was reset. If you use the same client request token and the initial call created a file system, the client receives success as long as the parameters are the same.</p> <note> <p>The <code>CreateFileSystem</code> call returns while the file system's lifecycle state is still <code>CREATING</code>. You can check the file-system creation status by calling the <a>DescribeFileSystems</a> operation, which returns the file system state along with other information.</p> </note>",
                "operationId": "CreateFileSystem",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The response object for the <code>CreateFileSystem</code> operation.",
                                    "example": {
                                        "FileSystem": {
                                            "CreationTime": "1481841524.0",
                                            "DNSName": "fs-0498eed5fe91001ec.fsx.com",
                                            "FileSystemId": "fs-0498eed5fe91001ec",
                                            "KmsKeyId": "arn:aws:kms:us-east-1:012345678912:key/0ff3ea8d-130e-4133-877f-93908b6fdbd6",
                                            "Lifecycle": "CREATING",
                                            "OwnerId": "012345678912",
                                            "ResourceARN": "arn:aws:fsx:us-east-1:012345678912:file-system/fs-0498eed5fe91001ec",
                                            "StorageCapacity": 300,
                                            "SubnetIds": [
                                                "subnet-1234abcd"
                                            ],
                                            "Tags": [
                                                {
                                                    "Key": "Name",
                                                    "Value": "MyFileSystem"
                                                }
                                            ],
                                            "VpcId": "vpc-ab1234cd",
                                            "WindowsConfiguration": {
                                                "ActiveDirectoryId": "d-1234abcd12",
                                                "AutomaticBackupRetentionDays": 30,
                                                "DailyAutomaticBackupStartTime": "05:00",
                                                "ThroughputCapacity": 8,
                                                "WeeklyMaintenanceStartTime": "1:05:00"
                                            }
                                        }
                                    },
                                    "properties": {
                                        "FileSystem": {
                                            "description": "A description of the file system.",
                                            "properties": {
                                                "CreationTime": {
                                                    "description": "The time that the file system was created, in seconds (since 1970-01-01T00:00:00Z), also known as Unix time.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "DNSName": {
                                                    "description": "The DNS name for the file system.",
                                                    "maxLength": 275,
                                                    "minLength": 16,
                                                    "pattern": "^(fsi?-[0-9a-f]{8,}\\..{4,253})$",
                                                    "type": "string"
                                                },
                                                "FailureDetails": {
                                                    "description": "Structure providing details of any failures that occur when creating the file system has failed.",
                                                    "properties": {
                                                        "Message": {
                                                            "description": "Message describing the failures that occurred during file system creation.",
                                                            "maxLength": 256,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "FileSystemId": {
                                                    "description": "The eight-digit ID of the file system that was automatically assigned by Amazon FSx.",
                                                    "maxLength": 21,
                                                    "minLength": 11,
                                                    "pattern": "^(fs-[0-9a-f]{8,})$",
                                                    "type": "string"
                                                },
                                                "FileSystemType": {
                                                    "description": "Type of file system. Currently the only supported type is WINDOWS.",
                                                    "enum": [
                                                        "WINDOWS",
                                                        "LUSTRE"
                                                    ],
                                                    "type": "string"
                                                },
                                                "KmsKeyId": {
                                                    "description": "The ID of the AWS Key Management Service (AWS KMS) key used to encrypt the file system's data for an Amazon FSx for Windows File Server file system.",
                                                    "maxLength": 2048,
                                                    "minLength": 1,
                                                    "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[89aAbB][a-fA-F0-9]{3}-[a-fA-F0-9]{12}|arn:aws[a-z-]{0,7}:kms:[a-z]{2}-[a-z-]{4,}-\\d+:\\d{12}:(key|alias)\\/([a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[89aAbB][a-fA-F0-9]{3}-[a-fA-F0-9]{12}|[a-zA-Z0-9:\\/_-]+)|alias\\/[a-zA-Z0-9:\\/_-]+$",
                                                    "type": "string"
                                                },
                                                "Lifecycle": {
                                                    "description": "The lifecycle status of the file system.",
                                                    "enum": [
                                                        "AVAILABLE",
                                                        "CREATING",
                                                        "FAILED",
                                                        "DELETING"
                                                    ],
                                                    "type": "string"
                                                },
                                                "LustreConfiguration": {
                                                    "description": "The configuration for the Amazon FSx for Lustre file system.",
                                                    "properties": {
                                                        "DataRepositoryConfiguration": {
                                                            "description": "The data repository configuration object for Lustre file systems returned in the response of the <code>CreateFileSystem</code> operation.",
                                                            "properties": {
                                                                "ExportPath": {
                                                                    "description": "The export path to the Amazon S3 bucket (and prefix) that you are using to store new and changed Lustre file system files in S3.",
                                                                    "maxLength": 900,
                                                                    "minLength": 3,
                                                                    "type": "string"
                                                                },
                                                                "ImportPath": {
                                                                    "description": "The import path to the Amazon S3 bucket (and optional prefix) that you're using as the data repository for your FSx for Lustre file system, for example <code>s3://import-bucket/optional-prefix</code>. If a prefix is specified after the Amazon S3 bucket name, only object keys with that prefix are loaded into the file system.",
                                                                    "maxLength": 900,
                                                                    "minLength": 3,
                                                                    "type": "string"
                                                                },
                                                                "ImportedFileChunkSize": {
                                                                    "description": "<p>For files imported from a data repository, this value determines the stripe count and maximum amount of data per file (in MiB) stored on a single physical disk. The maximum number of disks that a single file can be striped across is limited by the total number of disks that make up the file system.</p> <p>The default chunk size is 1,024 MiB (1 GiB) and can go as high as 512,000 MiB (500 GiB). Amazon S3 objects have a maximum size of 5 TB.</p>",
                                                                    "maximum": 512000,
                                                                    "minimum": 1,
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "WeeklyMaintenanceStartTime": {
                                                            "description": "The UTC time that you want to begin your weekly maintenance window.",
                                                            "maxLength": 7,
                                                            "minLength": 7,
                                                            "pattern": "^[1-7]:([01]\\d|2[0-3]):?([0-5]\\d)$",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "NetworkInterfaceIds": {
                                                    "description": "<p>The IDs of the elastic network interface from which a specific file system is accessible. The elastic network interface is automatically created in the same VPC that the Amazon FSx file system was created in. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html\">Elastic Network Interfaces</a> in the <i>Amazon EC2 User Guide.</i> </p> <p>For an Amazon FSx for Windows File Server file system, you can have one network interface Id. For an Amazon FSx for Lustre file system, you can have more than one.</p>",
                                                    "items": {
                                                        "description": "An elastic network interface ID. An elastic network interface is a logical networking component in a virtual private cloud (VPC) that represents a virtual network card. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html\">Elastic Network Interfaces</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.",
                                                        "maxLength": 21,
                                                        "minLength": 12,
                                                        "pattern": "^(eni-[0-9a-f]{8,})$",
                                                        "type": "string"
                                                    },
                                                    "maxItems": 50,
                                                    "type": "array"
                                                },
                                                "OwnerId": {
                                                    "description": "The AWS account that created the file system. If the file system was created by an IAM user, the AWS account to which the IAM user belongs is the owner.",
                                                    "maxLength": 12,
                                                    "minLength": 12,
                                                    "pattern": "^\\d{12}$",
                                                    "type": "string"
                                                },
                                                "ResourceARN": {
                                                    "description": "The resource ARN of the file system.",
                                                    "maxLength": 512,
                                                    "minLength": 8,
                                                    "pattern": "^arn:aws[a-z-]{0,7}:[A-Za-z0-9][A-za-z0-9_/.-]{0,62}:[A-za-z0-9_/.-]{0,63}:[A-za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-za-z0-9_/.-]{0,127}$",
                                                    "type": "string"
                                                },
                                                "StorageCapacity": {
                                                    "description": "The storage capacity of the file system in gigabytes.",
                                                    "minimum": 1,
                                                    "type": "integer"
                                                },
                                                "SubnetIds": {
                                                    "description": "The IDs of the subnets to contain the endpoint for the file system. One and only one is supported. The file system is launched in the Availability Zone associated with this subnet.",
                                                    "items": {
                                                        "description": "The ID for a subnet. A <i>subnet</i> is a range of IP addresses in your virtual private cloud (VPC). For more information, see <a href=\"https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Subnets.html\">VPC and Subnets</a> in the <i>Amazon VPC User Guide.</i> ",
                                                        "maxLength": 24,
                                                        "minLength": 15,
                                                        "pattern": "^(subnet-[0-9a-f]{8,})$",
                                                        "type": "string"
                                                    },
                                                    "maxItems": 50,
                                                    "type": "array"
                                                },
                                                "Tags": {
                                                    "description": "The tags to associate with the file system. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html\">Tagging Your Amazon EC2 Resources</a> in the <i>Amazon EC2 User Guide</i>.",
                                                    "items": {
                                                        "description": "Specifies a key-value pair for a resource tag.",
                                                        "properties": {
                                                            "Key": {
                                                                "description": "A value that specifies the <code>TagKey</code>, the name of the tag. Tag keys must be unique for the resource to which they are attached.",
                                                                "maxLength": 128,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "Value": {
                                                                "description": "A value that specifies the <code>TagValue</code>, the value assigned to the corresponding tag key. Tag values can be null and don't have to be unique in a tag set. For example, you can have a key-value pair in a tag set of <code>finances : April</code> and also of <code>payroll : April</code>.",
                                                                "maxLength": 256,
                                                                "minLength": 0,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "maxItems": 50,
                                                    "minItems": 1,
                                                    "type": "array"
                                                },
                                                "VpcId": {
                                                    "description": "The ID of the primary VPC for the file system.",
                                                    "maxLength": 21,
                                                    "minLength": 12,
                                                    "pattern": "^(vpc-[0-9a-f]{8,})$",
                                                    "type": "string"
                                                },
                                                "WindowsConfiguration": {
                                                    "description": "The configuration for this Microsoft Windows file system.",
                                                    "properties": {
                                                        "ActiveDirectoryId": {
                                                            "description": "The ID for an existing Microsoft Active Directory instance that the file system should join when it's created.",
                                                            "maxLength": 12,
                                                            "minLength": 12,
                                                            "pattern": "^d-[0-9a-f]{10}$",
                                                            "type": "string"
                                                        },
                                                        "AutomaticBackupRetentionDays": {
                                                            "description": "The number of days to retain automatic backups. Setting this to 0 disables automatic backups. You can retain automatic backups for a maximum of 35 days.",
                                                            "maximum": 35,
                                                            "minimum": 0,
                                                            "type": "integer"
                                                        },
                                                        "CopyTagsToBackups": {
                                                            "description": "A boolean flag indicating whether tags on the file system should be copied to backups. This value defaults to false. If it's set to true, all tags on the file system are copied to all automatic backups and any user-initiated backups where the user doesn't specify any tags. If this value is true, and you specify one or more tags, only the specified tags are copied to backups.",
                                                            "type": "boolean"
                                                        },
                                                        "DailyAutomaticBackupStartTime": {
                                                            "description": "The preferred time to take daily automatic backups, in the UTC time zone.",
                                                            "maxLength": 5,
                                                            "minLength": 5,
                                                            "pattern": "^([01]\\d|2[0-3]):?([0-5]\\d)$",
                                                            "type": "string"
                                                        },
                                                        "MaintenanceOperationsInProgress": {
                                                            "description": "The list of maintenance operations in progress for this file system.",
                                                            "items": {
                                                                "description": "An enumeration specifying the currently ongoing maintenance operation.",
                                                                "enum": [
                                                                    "PATCHING",
                                                                    "BACKING_UP"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "maxItems": 20,
                                                            "type": "array"
                                                        },
                                                        "ThroughputCapacity": {
                                                            "description": "The throughput of an Amazon FSx file system, measured in megabytes per second.",
                                                            "maximum": 2048,
                                                            "minimum": 8,
                                                            "type": "integer"
                                                        },
                                                        "WeeklyMaintenanceStartTime": {
                                                            "description": "The preferred time to perform weekly maintenance, in the UTC time zone.",
                                                            "maxLength": 7,
                                                            "minLength": 7,
                                                            "pattern": "^[1-7]:([01]\\d|2[0-3]):?([0-5]\\d)$",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequest",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ActiveDirectoryError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "IncompatibleParameterError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidImportPath",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidExportPath",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidNetworkSettings",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ServiceLimitExceeded",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "MissingFileSystemConfiguration",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The request object for the <code>CreateFileSystem</code> operation.",
                                "example": {
                                    "ClientRequestToken": "a8ca07e4-61ec-4399-99f4-19853801bcd5",
                                    "FileSystemType": "WINDOWS",
                                    "KmsKeyId": "arn:aws:kms:us-east-1:012345678912:key/0ff3ea8d-130e-4133-877f-93908b6fdbd6",
                                    "SecurityGroupIds": [
                                        "sg-edcd9784"
                                    ],
                                    "StorageCapacity": 300,
                                    "SubnetIds": [
                                        "subnet-1234abcd"
                                    ],
                                    "Tags": [
                                        {
                                            "Key": "Name",
                                            "Value": "MyFileSystem"
                                        }
                                    ],
                                    "WindowsConfiguration": {
                                        "ActiveDirectoryId": "d-1234abcd12",
                                        "AutomaticBackupRetentionDays": 30,
                                        "DailyAutomaticBackupStartTime": "05:00",
                                        "ThroughputCapacity": 8,
                                        "WeeklyMaintenanceStartTime": "1:05:00"
                                    }
                                },
                                "properties": {
                                    "ClientRequestToken": {
                                        "description": "(Optional) A string of up to 64 ASCII characters that Amazon FSx uses to ensure idempotent creation. This string is automatically filled on your behalf when you use the AWS Command Line Interface (AWS CLI) or an AWS SDK.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "pattern": "[A-za-z0-9_/.-]{0,255}$",
                                        "type": "string"
                                    },
                                    "FileSystemType": {
                                        "description": "The type of file system.",
                                        "enum": [
                                            "WINDOWS",
                                            "LUSTRE"
                                        ],
                                        "type": "string"
                                    },
                                    "KmsKeyId": {
                                        "description": "The ID of your AWS Key Management Service (AWS KMS) key. This ID is used to encrypt the data in your file system at rest. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_Encrypt.html\">Encrypt</a> in the <i>AWS Key Management Service API Reference</i>.",
                                        "maxLength": 2048,
                                        "minLength": 1,
                                        "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[89aAbB][a-fA-F0-9]{3}-[a-fA-F0-9]{12}|arn:aws[a-z-]{0,7}:kms:[a-z]{2}-[a-z-]{4,}-\\d+:\\d{12}:(key|alias)\\/([a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[89aAbB][a-fA-F0-9]{3}-[a-fA-F0-9]{12}|[a-zA-Z0-9:\\/_-]+)|alias\\/[a-zA-Z0-9:\\/_-]+$",
                                        "type": "string"
                                    },
                                    "LustreConfiguration": {
                                        "description": "The configuration object for Lustre file systems used in the <code>CreateFileSystem</code> operation.",
                                        "properties": {
                                            "ExportPath": {
                                                "description": "<p>(Optional) The path in Amazon S3 where the root of your Amazon FSx file system is exported. The path must use the same Amazon S3 bucket as specified in ImportPath. You can provide an optional prefix to which new and changed data is to be exported from your Amazon FSx for Lustre file system. If an <code>ExportPath</code> value is not provided, Amazon FSx sets a default export path, <code>s3://import-bucket/FSxLustre[creation-timestamp]</code>. The timestamp is in UTC format, for example <code>s3://import-bucket/FSxLustre20181105T222312Z</code>.</p> <p>The Amazon S3 export bucket must be the same as the import bucket specified by <code>ImportPath</code>. If you only specify a bucket name, such as <code>s3://import-bucket</code>, you get a 1:1 mapping of file system objects to S3 bucket objects. This mapping means that the input data in S3 is overwritten on export. If you provide a custom prefix in the export path, such as <code>s3://import-bucket/[custom-optional-prefix]</code>, Amazon FSx exports the contents of your file system to that export prefix in the Amazon S3 bucket.</p>",
                                                "maxLength": 900,
                                                "minLength": 3,
                                                "type": "string"
                                            },
                                            "ImportPath": {
                                                "description": "(Optional) The path to the Amazon S3 bucket (including the optional prefix) that you're using as the data repository for your Amazon FSx for Lustre file system. The root of your FSx for Lustre file system will be mapped to the root of the Amazon S3 bucket you select. An example is <code>s3://import-bucket/optional-prefix</code>. If you specify a prefix after the Amazon S3 bucket name, only object keys with that prefix are loaded into the file system.",
                                                "maxLength": 900,
                                                "minLength": 3,
                                                "type": "string"
                                            },
                                            "ImportedFileChunkSize": {
                                                "description": "<p>(Optional) For files imported from a data repository, this value determines the stripe count and maximum amount of data per file (in MiB) stored on a single physical disk. The maximum number of disks that a single file can be striped across is limited by the total number of disks that make up the file system.</p> <p>The chunk size default is 1,024 MiB (1 GiB) and can go as high as 512,000 MiB (500 GiB). Amazon S3 objects have a maximum size of 5 TB.</p>",
                                                "maximum": 512000,
                                                "minimum": 1,
                                                "type": "integer"
                                            },
                                            "WeeklyMaintenanceStartTime": {
                                                "description": "The preferred time to perform weekly maintenance, in the UTC time zone.",
                                                "maxLength": 7,
                                                "minLength": 7,
                                                "pattern": "^[1-7]:([01]\\d|2[0-3]):?([0-5]\\d)$",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "SecurityGroupIds": {
                                        "description": "A list of IDs for the security groups that apply to the specified network interfaces created for file system access. These security groups will apply to all network interfaces. This list isn't returned in later describe requests.",
                                        "items": {
                                            "description": "The ID of your Amazon EC2 security group. This ID is used to control network access to the endpoint that Amazon FSx creates on your behalf in each subnet. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html\">Amazon EC2 Security Groups for Linux Instances</a> in the <i>Amazon EC2 User Guide</i>.",
                                            "maxLength": 20,
                                            "minLength": 11,
                                            "pattern": "^(sg-[0-9a-f]{8,})$",
                                            "type": "string"
                                        },
                                        "maxItems": 50,
                                        "type": "array"
                                    },
                                    "StorageCapacity": {
                                        "description": "<p>The storage capacity of the file system.</p> <p>For Windows file systems, the storage capacity has a minimum of 300 GiB, and a maximum of 65,536 GiB.</p> <p>For Lustre file systems, the storage capacity has a minimum of 3,600 GiB. Storage capacity is provisioned in increments of 3,600 GiB.</p>",
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "SubnetIds": {
                                        "description": "A list of IDs for the subnets that the file system will be accessible from. File systems support only one subnet. The file server is also launched in that subnet's Availability Zone.",
                                        "items": {
                                            "description": "The ID for a subnet. A <i>subnet</i> is a range of IP addresses in your virtual private cloud (VPC). For more information, see <a href=\"https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Subnets.html\">VPC and Subnets</a> in the <i>Amazon VPC User Guide.</i> ",
                                            "maxLength": 24,
                                            "minLength": 15,
                                            "pattern": "^(subnet-[0-9a-f]{8,})$",
                                            "type": "string"
                                        },
                                        "maxItems": 50,
                                        "type": "array"
                                    },
                                    "Tags": {
                                        "description": "The tags to be applied to the file system at file system creation. The key value of the <code>Name</code> tag appears in the console as the file system name.",
                                        "items": {
                                            "description": "Specifies a key-value pair for a resource tag.",
                                            "properties": {
                                                "Key": {
                                                    "description": "A value that specifies the <code>TagKey</code>, the name of the tag. Tag keys must be unique for the resource to which they are attached.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "A value that specifies the <code>TagValue</code>, the value assigned to the corresponding tag key. Tag values can be null and don't have to be unique in a tag set. For example, you can have a key-value pair in a tag set of <code>finances : April</code> and also of <code>payroll : April</code>.",
                                                    "maxLength": 256,
                                                    "minLength": 0,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 50,
                                        "minItems": 1,
                                        "type": "array"
                                    },
                                    "WindowsConfiguration": {
                                        "description": "The configuration for this Microsoft Windows file system.",
                                        "properties": {
                                            "ActiveDirectoryId": {
                                                "description": "The ID for an existing Microsoft Active Directory instance that the file system should join when it's created.",
                                                "maxLength": 12,
                                                "minLength": 12,
                                                "pattern": "^d-[0-9a-f]{10}$",
                                                "type": "string"
                                            },
                                            "AutomaticBackupRetentionDays": {
                                                "description": "The number of days to retain automatic backups. The default is to retain backups for 7 days. Setting this value to 0 disables the creation of automatic backups. The maximum retention period for backups is 35 days.",
                                                "maximum": 35,
                                                "minimum": 0,
                                                "type": "integer"
                                            },
                                            "CopyTagsToBackups": {
                                                "description": "A boolean flag indicating whether tags on the file system should be copied to backups. This value defaults to false. If it's set to true, all tags on the file system are copied to all automatic backups and any user-initiated backups where the user doesn't specify any tags. If this value is true, and you specify one or more tags, only the specified tags are copied to backups.",
                                                "type": "boolean"
                                            },
                                            "DailyAutomaticBackupStartTime": {
                                                "description": "The preferred time to take daily automatic backups, in the UTC time zone.",
                                                "maxLength": 5,
                                                "minLength": 5,
                                                "pattern": "^([01]\\d|2[0-3]):?([0-5]\\d)$",
                                                "type": "string"
                                            },
                                            "ThroughputCapacity": {
                                                "description": "The throughput of an Amazon FSx file system, measured in megabytes per second.",
                                                "maximum": 2048,
                                                "minimum": 8,
                                                "type": "integer"
                                            },
                                            "WeeklyMaintenanceStartTime": {
                                                "description": "The preferred start time to perform weekly maintenance, in the UTC time zone.",
                                                "maxLength": 7,
                                                "minLength": 7,
                                                "pattern": "^[1-7]:([01]\\d|2[0-3]):?([0-5]\\d)$",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "ThroughputCapacity"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "FileSystemType",
                                    "StorageCapacity",
                                    "SubnetIds"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateFileSystemFromBackup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a new Amazon FSx file system from an existing Amazon FSx for Windows File Server backup.</p> <p>If a file system with the specified client request token exists and the parameters match, this call returns the description of the existing file system. If a client request token specified by the file system exists and the parameters don't match, this call returns <code>IncompatibleParameterError</code>. If a file system with the specified client request token doesn't exist, this operation does the following:</p> <ul> <li> <p>Creates a new Amazon FSx file system from backup with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the file system.</p> </li> </ul> <p>Parameters like Active Directory, default share name, automatic backup, and backup settings default to the parameters of the file system that was backed up, unless overridden. You can explicitly supply other settings.</p> <p>By using the idempotent operation, you can retry a <code>CreateFileSystemFromBackup</code> call without the risk of creating an extra file system. This approach can be useful when an initial call fails in a way that makes it unclear whether a file system was created. Examples are if a transport level timeout occurred, or your connection was reset. If you use the same client request token and the initial call created a file system, the client receives success as long as the parameters are the same.</p> <note> <p>The <code>CreateFileSystemFromBackup</code> call returns while the file system's lifecycle state is still <code>CREATING</code>. You can check the file-system creation status by calling the <a>DescribeFileSystems</a> operation, which returns the file system state along with other information.</p> </note>",
                "operationId": "CreateFileSystemFromBackup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The response object for the <code>CreateFileSystemFromBackup</code> operation.",
                                    "example": {
[...]
